/* Indicators */
[type="row-indicator"].pointer.failed:before
{
   top: 50%;
   top:10px;
   left: 50%;
   z-index: 1;
   width: 5px;
   content: "";
   height: 5px;
   display: grid;
   border-radius: 50%;
   position: absolute;
   background-color: red;
   transform: translate(-50%,-50%);
}

[type="row-indicator"].pointer
{
	width:10px;
   height: 10px;
   display: block;
   margin-left: 5px;
   position: relative;
	align-items: center;
	justify-content: center;
}

[type="row-indicator"].pointer.active
{
   top: 7px;
   left: 10px;
   width: 3px;
   height: 12px;
   border-radius: 50px;
   background-color: gray;
}